
.services {
  padding: 2rem 2rem;
  background-color: var(--royal-blue);
}

 h1 {
  font-size: 2rem;
  color: white;
  padding-left: 2rem;

}

.services ul {
  list-style-type: disc;
  padding-left: 2rem;
}
.services-summary p{
  color: var(--darkgrey);

}
.services li {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  list-style: none;
}
.services {
  font-size: 1.3rem;
}

.mission p{
  font-size: 1.3rem;
  padding-left: 2rem;
  color: var(--darkgrey);
}

@media (max-width: 768px) {
  .services h1 {
    font-size: 1.8rem;
  }
  .services{
    display: flex;
flex-direction: column;  
justify-content: center;
align-items: center;}

  .services li,p {
    font-size: 1rem;
  }
  .mission p {
    font-size: 1rem;
  }
}
