.about {
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 15px 25px;
  /* color: white; */
  font-family: 'Playfair Display';
  background-color:var(--burgundy);

}

.about.project-header h1{
  color: black;
  background: var(--burgundy);
}
 .about h1 {
  font-size: 2rem;
  color: white;
}

.about p {
  font-size: 1.4rem;
  color: white;
  line-height: 1.6;
}
.project-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-top{
display: flex;

margin: 0 auto;
align-items: center;
text-align: center;
padding: 25px 7rem;
flex-direction: column;
justify-content: center;
gap: 10px;
}

.about-bottom{
    display: flex;
    gap: 10px;
    padding: 10px 3rem;
    background: var(--midnight-blue);
  }

.about-links{
font-size: 1.7rem;
padding: 20px;
/* background: var(--midnight-blue); */
display: flex;
justify-content: space-around;
align-items: center;
/* color: var(--royal-blue); */
list-style: none;
font-weight: 500;
padding: 10px 3rem;
margin: 10px 1rem;
}
.about-links a{
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    color: var(--royal-blue);
    list-style: none;
    text-decoration: none;
    cursor: pointer;
        }

@media (max-width: 768px) {
  .about{display: block;}
  .about h1 {
    font-size: 1.8rem;
  }

  .about p {
    font-size: 1rem;
  }
  .about{
    display: block;
    padding: 0px 0px;
    margin: 10px 5px;
  }
  .about-bottom{
    padding: 5px 12px;
    margin: 0 auto;
  }
  .about-bottom h1{
    color: black;
  }
  .about-links{
    display: block;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
  }
}

