.contact {
    padding: 2rem;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: "Playfair Display";
  }
  .contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .contact h1 {
    font-size: 2rem;
    color: #000;
    
  }
  
  .contact p {
    font-size: 1.3rem;
    color: var(--darkgrey);
    margin-bottom: 0.5rem;
  }
  .contact-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    margin: auto;
    height: auto;
  }
  .contact-photo img{

    max-width:800px;


  }
  
  @media (max-width: 768px) {
    .contact{
      display: block;
    }
    .contact h1 {
      font-size: 1.8rem;
    }
    .contact-photo img{

      max-width:85%;
      height: auto;  
  
    }
  
    .contact p {
      font-size: 1rem;
    }
  }
  