.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2rem;
    background-color: var(--midnight-blue);
    color: white;
    font-family: "Playfair Display"; 
  }
  
  .navbar-logo {
    font-size: 1.7rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    gap: 15px;
  }
  .navbar-logo img{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
   
.navbar {
      flex-direction: column;
      padding: 0px 0px;
      align-items: center;
      margin: 0 auto;
      justify-content: center;
      /* padding: 10px 0px; */

    }
    .navbar-logo p{
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      font-size: 1.4em;
    }
    .navbar-logo {
      flex-direction: column; 
      font-size: 1.5em;
      align-items: center;
      justify-content: center;
      }
      .navbar-logo img{
        max-width: 40%;
        height: auto;
        margin: 0 auto;
        border: solid var(--darkgrey)
      }
    .navbar-links {
      flex-direction: column;
  justify-content: center;      
  align-items: center;
gap: 0.5rem;
    }
    .navbar-links a{
      color:#feb236;
      font-size: 1.4rem;
    }
  }
    
  